link(rel="stylesheet", href="/stylesheets/style.css")

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Artist Name
    link(rel="stylesheet", href="styles.css")
  body
    // Navbar
    nav.navbar
      div.container
        h1.logo Alex Bush
        label.nav-toggle(for="navbar-toggle")
          i.fa.fa-bars
        input#navbar-toggle(type="checkbox")
        ul.nav-links
          li: a(href="#bio") Bio
          li: a(href="#contact") Contact
          li: a(href="#the-composer") The composer
          li: a(href="#community") Community & Events

    // Hero Section
    section.hero
      img.hero-image(src="/public/images/alex.jpeg", alt="Hero Image")

    // Contact Section
    section#contact.contact
      div.container
        h2 The writer and composer
        // Contact form goes here

    // Previous Work Section
    section#previous-work.previous-work
      div.container
        h2 Contact
        // Display previous work, lyrics, and compositions

    // Community & Events Section
    section#community.community
      div.container
        h2 Community & Events
        // Display community and events information

    // Footer
    footer.footer
      div.container
        // Social media icons
        div.social-media-icons
          a(href="https://spotify.com/artist")
            img(src="/public/images/spotify.svg", alt="Spotify")
          a(href="https://youtube.com/artist")
            img(src="youtube-favicon.png", alt="YouTube")
          a(href="https://instagram.com/artist")
            img(src="instagram-favicon.png", alt="Instagram")
          a(href="https://tiktok.com/artist")
            img(src="tiktok-favicon.png", alt="TikTok")
        // Copyright notice
        p &copy; 2024 Miss Alex Bush. All rights reserved.
